@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Itim', cursive;

}

body {
  background-color: #efefef;
}

ul {
  padding: 0;
  list-style: none;
}

:root {
  --orange-color: rgb(248, 70, 11);
  --primary-text-color: #222821;
}